:root {
  /* Dark Theme Colors */

  --very-dark-blue-primary: hsl(222, 26%, 31%);
  --very-dark-blue-secondary: hsl(223, 31%, 20%);
  --very-dark-blue-tertiary: hsl(224, 36%, 15%);
  --dark-blue-primary: hsl(225, 21%, 49%);
  --dark-blue-secondary: hsl(224, 28%, 35%);
  --red: hsl(6, 63%, 50%);
  --dark-red: hsl(6, 70%, 34%);
  --light-orange: hsl(30, 25%, 89%);
  --gray-orange: hsl(28, 16%, 65%);
  --dark-gray-blue: hsl(221, 14%, 31%);
  --white: rgb(100%, 100%, 100%);

  /* Light Theme Colors */
  --light-gray-primary: hsl(0, 0%, 90%);
  --light-gray-secondary: hsl(0, 5%, 81%);
  --light-gray-tertiary: hsl(0, 0%, 93%);
  --dark-cyan-primary: hsl(185, 42%, 37%);
  --dark-cyan-secondary: hsl(185, 58%, 25%);
  --orange: hsl(25, 98%, 40%);
  --dark-orange: hsl(25, 99%, 27%);
  --dark-yellow: hsl(60, 10%, 19%);

  /* Party Theme Colors */

  --dark-violet-primary: hsl(281, 89%, 26%);
  --dark-violet-secondary: hsl(285, 91%, 52%);
  --cyan-primary: hsl(176, 100%, 44%);
  --cyan-secondary: hsl(177, 92%, 70%);
  --dark-purple: hsl(268, 47%, 21%);
  --magenta: hsl(290, 70%, 36%);
  --light-yellow: hsl(52, 100%, 62%);
  --blue: hsl(198, 20%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
